body {
    background-color:  rgb(255, 234, 237);
}

.header, .greetings, .firstPicture, .two, .three{
    display: flex;
    justify-content: center;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9 {
    margin-left: 10px;
}

.story {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
